{% load static %}
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Additional CSS Files -->

<link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!--Sweet alert-->
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css"
/>
<script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
<script defer src="{% static 'assets/js/toast.js' %}"></script>

<!-- In production save these to your static files -->
<script defer src="{% static 'assets/js/alpine.min.js' %}"></script>
<script defer src="{% static 'assets/js/hyperscript.min.js' %}"></script>

<script defer src="{% static 'assets/js/htmx.min.js' %}"></script>

<!-- Bootstrap core JavaScript -->
<script defer src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script defer src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Additional Scripts -->
<script defer src="{% static 'assets/js/custom.js' %}"></script>
<script defer src="{% static 'assets/js/owl.js' %}"></script>
<script defer src="{% static 'assets/js/slick.js' %}"></script>
<script defer src="{% static 'assets/js/isotope.js' %}"></script>
<script defer src="{% static 'assets/js/accordions.js' %}"></script>

{% comment %} <script async src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.5/sweetalert2.all.min.js"></script> {% endcomment %}