{% extends 'common/base.html' %}

{% block content %}
  <div class="container" style="margin-top: 8rem;" >
    <form id="searchForm" hx-post="{% url 'shop:search' %}" hx-target="#search-results">
      {% csrf_token %}
      {% include 'shop/components/filters.html' %}
      {% include 'shop/components/sort.html' %}
      {% include 'shop/components/offset.html' %}
      {% include 'shop/components/search_field.html' %}
    </form>
  </div>
  <div>
    {% include 'shop/htmx/stats.html' %}
  </div>

  <!-- Content -->
  <div>
    <section>
      <ul id="search-results">
        {% include 'shop/htmx/search_results_partial.html' %}
      </ul>
    </section>
  </div>
{% endblock %}

{% block footer_js %}
  <script>
  function infiniteScroll(){
      const form = document.getElementById("searchForm")
      const formData = new FormData(form)
      console.log(formData)
      
      formData.append('apply_offset', true);
      let data = {}
      formData.forEach(function(value, key){
          data[key] = value;
      });

      data.product = formData.getAll('product')
      const context = {
        target:'#search-results', swap:'beforeend', values: data
      }
      htmx.ajax('POST', '{% url 'shop:search' %}', context)
  }
</script>
{% endblock %}
