{% extends 'common/base.html' %}
{% block title %}
  Products
{% endblock %}

{% block content %}
  <div class="products">
    <div class="container">
      <div class="row">
        <form id="searchForm" class="form-inline my-lg-0 w-100" style="margin-bottom: 2em !important;" hx-get="{% url 'shop:products_list' %}" hx-trigger="submit" hx-target="#products-container" hx-push-url="true">
          {% if request.GET.page %}
            <input type="hidden" name="page" value="{{ request.GET.page }}">
          {% endif %}
          <input
            class="form-control w-75"
            type="search"
            name="q"
            placeholder="Search for products..."
            aria-label="Search"
            value="{{ request.GET.q }}"
          />
          <button class="btn btn-outline-dark ml-2" type="submit">Search</button>
        </form>
        <!-- Filters Section -->
        <div class="col-md-12">
          <div class="filters">
            <ul>
              <!-- Filter Options -->
              <li class="{% if not filter_value %}active{% endif %}" onclick="window.location.href='{{ request.path }}'">All Products</li>
              <li class="{% if filter_value == 'featured' %}active{% endif %}" onclick="window.location.href='?filter=featured'">Featured</li>
              <li class="{% if filter_value == 'flash_deals' %}active{% endif %}" onclick="window.location.href='?filter=flash_deals'">Flash Deals</li>
            </ul>
          </div>
        </div>

        <!-- Products Section -->
        {% comment %} <div id="products-container" class="col-md-12">
          <div class="filters-content">
            <div class="row grid">
              {% for product in page_obj %}
                <div class="col-lg-4 col-md-4 all">
                  <div class="product-item">
                    <!-- Product Image -->
                    <a href="{{ product.get_absolute_url }}">
                      <img style="height: 10em; object-fit: contain;" src="{{ product.image_url }}" alt="An image of {{ product.name }}">
                    </a>
                    <div class="down-content">
                      <!-- Product Details -->
                      <a href="{{ product.get_absolute_url }}">
                        <h4>{{ product.name }}</h4>
                      </a>
                      <h6>₦{{ product.price }}</h6>
                      <!-- Product Rating -->
                      <ul>
                        {% for i in rating_range %}
                          <li>
                            <i 
                              class="
                              {% if forloop.counter > product.avg_rating %}
                              fa-regular fa-star
                              {% else %}
                              fa fa-star
                              {% endif %}"
                              >
                            </i>
                          </li>
                        {% endfor %}
                      </ul>
                      <!-- <span>Reviews ({{ product.reviews.count }})</span> -->
                      <span>Reviews ({{ product.num_of_reviews }})</span>
                    </div>
                  </div>
                </div>
              {% empty %}
                <!-- No Products Message -->
                <div class="container-fluid">
                  <p class="text-center font-weight-bold text-primary">There are no products here yet.</p>
                </div>
              {% endfor %}
            </div>
          </div>
        </div> {% endcomment %}
        {% comment %} <div class="col-md-12">
          {% if page_obj.paginator.count > 0 %} <!-- Check if there are products -->
            <ul class="pages">
              {% if page_obj.has_previous %}
                <li>
                  <a href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}{{ post_param }}"
                     hx-get="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}{{ post_param }}"
                     hx-target="#products-container"
                     hx-push-url="true">
                    <i class="fa fa-angle-double-left"></i>
                  </a>
                </li>
                {% if page_obj.number != 2 %}
                  <li>
                    <a href="?page=1&q={{ request.GET.q }}{{ post_param }}"
                       hx-get="?page=1&q={{ request.GET.q }}{{ post_param }}"
                       hx-target="#products-container"
                       hx-push-url="true">
                      1
                    </a>
                  </li>...
                {% endif %}
              {% endif %}
        
              {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                  <li class="active">
                    <a href="?page={{ num }}&q={{ request.GET.q }}{{ post_param }}"
                       hx-get="?page={{ num }}&q={{ request.GET.q }}{{ post_param }}"
                       hx-target="#products-container"
                       hx-push-url="true">
                      {{ num }}
                    </a>
                  </li>
                {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                  <li>
                    <a href="?page={{ num }}&q={{ request.GET.q }}{{ post_param }}"
                       hx-get="?page={{ num }}&q={{ request.GET.q }}{{ post_param }}"
                       hx-target="#products-container"
                       hx-push-url="true">
                      {{ num }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
        
              {% if page_obj.has_next %}
                {% if page_obj.number != page_obj.paginator.num_pages|add:'-1' %}
                  ...<li>
                    <a href="?page={{ page_obj.paginator.num_pages }}&q={{ request.GET.q }}{{ post_param }}"
                       hx-get="?page={{ page_obj.paginator.num_pages }}&q={{ request.GET.q }}{{ post_param }}"
                       hx-target="#products-container"
                       hx-push-url="true">
                      {{ page_obj.paginator.num_pages }}
                    </a>
                  </li>
                {% endif %}
                <li>
                  <a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}{{ post_param }}"
                     hx-get="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}{{ post_param }}"
                     hx-target="#products-container"
                     hx-push-url="true">
                    <i class="fa fa-angle-double-right"></i>
                  </a>
                </li>
              {% endif %}
            </ul>
          {% endif %}
        </div> {% endcomment %}
        <!-- Products Section -->
        <div id="products-container" class="col-md-12">
          {% include 'shop/htmx/product_list_partial.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% comment %} ADJUST PAGINATION TO WORK FOR HTMX {% endcomment %}
