{% extends 'common/base.html' %}

{% block content %}
  <style>
    .wishlist-image {
      max-width: 120px; /* Set the image size */
      object-fit: cover;
      width: 100%;
      height: 100px;
    }
    
    .out-of-stock {
      filter: grayscale(100%) opacity(50%); /* Dim and grayscale the image */
    }

    tr.htmx-swapping td {
      opacity: 0;
      transition: opacity 1s ease-out;
    }
    
    @media screen and (max-width: 409px) {
      .btn-margin-sm {
        margin-bottom: 0.5rem;
      }
    }
  </style>

  <div class="container" style="margin-top: 6em;">
    <h2 class="mb-1">Your Wishlist</h2>
    {% if wishlist.products.exists %}
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Product</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody hx-confirm="Are you sure you want to remove this item?" hx-target="closest tr" hx-swap="outerHTML swap:1s">
          {% for product in wishlist.products.all %}
            <tr id="wishlist-item-{{ product.id }}">
              <td>
                <img src="{{ product.image_url }}" alt="A Product Image" class="wishlist-image {% if not product.is_available %} out-of-stock {% endif %}" />
              </td>
              <td>
                {{ product.name }}
                {% if not product.is_available %}
                  <span class="badge badge-warning ml-2">Out of Stock</span>
                {% endif %}
              </td>
              <td>
                {% if product.is_available %}
                  <a href="{{ product.get_absolute_url }}" class="btn btn-info btn-sm btn-margin-sm">View</a>
                {% endif %}
                {% comment %} TODO: USE HTMX + SWEETALERT {% endcomment %}
                <button 
                class="btn btn-danger btn-sm"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                hx-delete="{% url 'shop:remove_from_wishlist' product.id %}"
                >Remove</button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Your wishlist is empty!</p>
    {% endif %}
  </div>
  {% block js %}
    {% comment %} <script>
      function handleDelete(event, element) {
        event.preventDefault()
        Swal.fire({
          title: 'Are you sure?',
          text: 'Do you want to remove this item from your wishlist?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#d33',
          cancelButtonColor: '#3085d6',
          confirmButtonText: 'Yes, remove it!',
          cancelButtonText: 'No, keep it'
        }).then((result) => {
          if (result.isConfirmed) {
            htmx.trigger(element, 'confirmed')
          }
        })
      }
    </script> {% endcomment %}
  {% endblock %}
{% endblock %}
