<!-- otp_form.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP Verification</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header text-center">
              <h4>Verify Your Account</h4>
            </div>
            <div class="card-body">
              <!-- Instruction message -->
              <p class="text-center">Check your email for a verification code and enter it below.</p>

              <!-- OTP Form -->
              <form method="POST" action="{% url 'accounts:verify_email' %}">
                {% csrf_token %}

                <div class="form-group">{{ form.otp.label_tag }}
                  {{ form.otp|add_class:'form-control' }}</div>

                <button type="submit" class="btn btn-primary btn-block">Verify</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% comment %} TODO: FIX - also bootsrap version and form-group {% endcomment %}
    <!-- Include Bootstrap JS and dependencies (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
