{% extends 'common/base.html' %}
{% block title %}
  Password Reset Verification
{% endblock %}
{% load static %}
{% block content %}
  <div class="container" >
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card" style="margin-top: 80px;">
          <div class="card-header text-center">
            <h4>Reset your password</h4>
          </div>
          <div class="card-body">
            <!-- Instruction message -->
            <p class="text-center">Check your email for a verification code and enter it below.</p>

            <!-- OTP Form -->
            <form method="POST" >
              {% comment %} action="{% url 'accounts:verify_email' %}" {% endcomment %}
              {% csrf_token %}

              {% if form.non_field_errors %}
                <span class="text-danger d-inline-block ml-3">
                  {% for error in form.non_field_errors %}
                    {{ error }}
                  {% endfor %}
                </span>
              {% endif %}

              <div class="form-group">
                {% for field in form %}
                  {{ field }}
                  {{ field.errors }}
                {% endfor %}
                
              </div>

              <p>To receive a new otp <a href="{% url "accounts:reset_password_resend_otp" %}">Click Here!</a></p>
              <button type="submit" class="btn btn-primary btn-block">Verify</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
