{% extends 'common/base.html' %}
{% load static %}
{% block title %}
  Change your password
{% endblock %}
{% block content %}
  <div class="card custom-card" style="padding: 8em 3em;">
    <div class="card-header">
      <h5 class="card-title">Change your password</h5>
    </div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <small class="text-danger">{{ field.errors }}</small>
            {{ field }}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
