{% extends 'common/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
  Register
{% endblock %}
{% block content %}
  <div class="card custom-card" style="padding: 7em 3em;">
    <div class="card-header">
      <h5 class="card-title">REGISTER USER</h5>
    </div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
{% endblock %}
