{% extends 'common/base.html' %}
{% comment %} {% load cloudinary_static %} {% endcomment %}

{% block title %}
  Your shopping cart
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div id="cart-content">
      {% include 'cart/partials/cart_detail.html' %}
    </div>

    {% if recommended_products %}
      <h3 class="my-5">People who bought this also bought</h3>
      <div class="row">
        {% for p in recommended_products %}
          <div class="col-lg-4 col-md-6 col-12 mb-4">
            <a href="{{ p.get_absolute_url }}">
              <div class="" style="width: 18rem;">
                {% comment %} <img style="aspect-ratio: 1/1; object-fit: cover;" src="{{ p.image_url }}" class="img-thumbnail" alt="{{ p.name }}" /> {% endcomment %}
                <img class="img-thumbnail" src="{{ p.get_cropped_image_url }}" alt="{{ p.name }}" />
              </div>
              <div>
                <h5 class="text-dark">{{ p.name }}</h5>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>

{% endblock %}

{% block js %}
  <script>
    // Smooth transition and confirmation
    document.body.addEventListener('htmx:confirm', function(evt) {
      if (evt.target.getAttribute('confirm-with-sweet-alert') === 'true') {
        evt.preventDefault(); // Prevent the request from being sent immediately

        Swal.fire({
          title: 'Remove from Cart?',
          text: 'This item will be removed from your cart',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#dc3545',
          cancelButtonColor: '#6c757d',
          confirmButtonText: 'Yes, remove it!'
        }).then((result) => {
          if (result.isConfirmed) {
            evt.detail.issueRequest(); // Proceed with the HTMX request
          }
        });
      }
    });

    // Error handling with SweetAlert2
    htmx.on('htmx:responseError', function(evt) {
      const errorMessage = "An error occurred. Please try again later.";

      Swal.fire({
        title: 'Error',
        text: errorMessage,
        icon: 'error',
        confirmButtonColor: '#dc3545'
      });
    });

    htmx.on('htmx:responseError', function(evt) {
      const errorMessage = "An error occurred. Please try again later.";

      Swal.fire({
        title: 'Error',
        text: errorMessage,
        icon: 'error',
        confirmButtonColor: '#dc3545'
      });
    });
  </script>
{% endblock %}
