{% extends 'common/base.html' %}

{% block title %}
  Your shopping cart
{% endblock %}

{% block content %}
  <style>
    .card {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 0.25rem;
      border: 1px solid #ddd;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .card img {
      width: 30%;
      object-fit: cover;
      border-top-right-radius: 0;
      border-bottom-left-radius: calc(0.25rem - 1px);
    }
    
    .card-body {
      padding: 1.5em;
      flex: 1;
    }
    
    .card-title {
      font-weight: bold;
      font-size: 1.5em;
    }
    
    .card-text {
      margin-top: 1em;
      font-size: 1.1em;
    }
    
    .form-group label {
      font-weight: bold;
      font-size: 1.1em;
    }
    
    @media only screen and (max-width: 768px) {
      .card {
        flex-direction: column;
        align-items: center;
      }
    
      .card img {
        width: 80%;
      }
    
      .card-body {
        padding: 1em;
      }
    }
    
    @media only screen and (max-width: 1200px) {
      .card img {
        width: 40%;
      }
    }
  </style>
  <div class="container mt-5">
    {% if cart|length == 0 %}
      <!-- If the cart is empty, show the "Start Shopping" button -->
      <p style="margin-top: 8em;">Your cart is empty. Start shopping now!</p>
      <a href="{% url 'shop:products_list' %}" class="btn btn-primary">Start Shopping</a>
    {% else %}
      <h1 style="margin-top: 3em; margin-bottom: 1em;">Your Shopping Cart</h1>
      <!-- If the cart has items, show the table -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit Price</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart %}
            {% with product=item.product %}
              <tr>
                <td>
                  <a href="{{ product.get_absolute_url }}"><img src="{{ product.image_url }}" alt="{{ product.name }}" style="width: 80px; height: auto;" /></a>
                </td>
                <td>{{ product.name }}</td>
                <td>
                  <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.override }}
                    <button type="submit" class="btn btn-primary btn-sm">Update</button>
                    {% csrf_token %}
                  </form>
                </td>
                <td>
                  <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                    {% csrf_token %}
                  </form>
                </td>
                <td>₦{{ item.price }}</td>
                <td>₦{{ item.total_price }}</td>
              </tr>
            {% endwith %}
          {% endfor %}

          {% if cart.coupon %}
            <tr class="">
              <td>
                <strong>Subtotal</strong>
              </td>
              <td colspan="4"></td>
              <td class="">
                <strong>₦{{ cart.get_total_price|floatformat:2 }}</strong>
              </td>
            </tr>
            <tr>
              <td>"{{ cart.coupon.code }}" coupon ({{ cart.coupon.discount }}% off)</td>
              <td colspan="4"></td>
              <td class="">- ₦{{ cart.get_discount|floatformat:2 }}</td>
            </tr>
          {% endif %}
          <tr>
            <td>
              <strong>Total</strong>
            </td>
            <td colspan="4"></td>
            <td>
              <strong>₦{{ cart.get_total_price_after_discount|floatformat:2 }}</strong>
            </td>
          </tr>
        </tbody>
      </table>

      <p class="ml-3 font-weight-bold">Apply a coupon:</p>
      {% comment %}TODO: CLEAR INPUT AFTER ERROR{% endcomment %}
      {% if coupon_apply_form.non_field_errors %}
        <span class="alert alert-danger d-inline-block ml-3" role="alert">
          {% for error in coupon_apply_form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </span>
      {% endif %}
      <form class="form-inline" action="{% url 'coupons:apply' %}" method="post">
        {% for field in coupon_apply_form %}
          <div class="form-group mx-sm-3 mb-2">
            <label for="{{ field.id_for_label }}" class="sr-only">Passwor{{ field.label }}</label>
            {{ field.errors }}
            {{ field }}
          </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary mb-2">Apply</button>
        {% csrf_token %}
      </form>

      <div class="d-flex justify-content-between mt-4">
        <a href="{% url 'shop:products_list' %}" class="btn btn-primary">Continue Shopping</a>
        <a href="{% url 'orders:order_create' %}" class="btn btn-success">Checkout</a>
      </div>
    {% endif %}

    {% if recommended_products %}
      <h3 class="mb-5">People who bought this also bought</h3>
      <div class="row">
        {% for p in recommended_products %}
          <div class="col-lg-4 col-md-6 col-12 mb-4">
            <a href="{{ p.get_absolute_url }}">
              <div class="card">
                <img src="{{ p.image_url }}" class="card-img-top" alt="{{ p.name }}" />

                <div class="card-body">
                  <h5 class="card-title">{{ p.name }}</h5>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}
