{% load sweetify %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet" />

    <title>
      Clothing Store |{% block title %}

      {% endblock %}
    </title>
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    {% include 'common/includes/static.html' %}
  </head>

  <body class="d-flex flex-column min-vh-100">
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{% url 'shop:home' %}"><h2>Sixteen <em>Clothing</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              {% url 'shop:home' as home_url %}
              <li class="nav-item {% if request.path == home_url %}active{% endif %}">
                <a class="nav-link" href="{% url 'shop:home' %}">Home</a>
                {% comment %}FIXME: FIX THE MOVEMENT WHEN HOVERING{% endcomment %}
              </li>
              {% if request.user.is_authenticated %}
                <!-- Cart -->
                {% url 'cart:cart_detail' as cart_url %}
                <li class="nav-item {% if request.path == cart_url %}active{% endif %}">
                  <a class="nav-link" href="{% url 'cart:cart_detail' %}">
                    <i class="fas fa-shopping-cart cart-icon"></i>Cart
                    <span class="badge cart-badge" id="cart-count">{{ cart_length }}</span>
                    <span class="badge cart-badge-sm" id="cart-count">{{ cart_length }}</span>
                  </a>
                </li>

                <!-- User Account Dropdown -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                  <div class="dropdown-menu" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="{% url 'profiles:profile' %}">
                      <i class="fas fa-user mr-1"></i>
                      Profile
                    </a>
                    <a class="dropdown-item" href="{% url 'shop:view_wishlist' %}">
                      <i class="fas fa-heart mr-1"></i>
                      Wishlist
                    </a>
                    <div class="dropdown-divider"></div>

                    <form class="" action="{% url 'accounts:logout' %}" method="post">
                      {% csrf_token %}
                      <button class="btn btn-link dropdown-item" style="color: black;">
                        <i class="fas fa-sign-out-alt mr-1"></i>
                        Logout
                      </button>
                    </form>
                  </div>
                </li>
              {% else %}
                {% url 'accounts:register' as register_url %}
                <li class="nav-item {% if request.path == register_url %}active{% endif %}">
                  <a class="nav-link" href="{% url 'accounts:register' %}">Login/Sign Up</a>
                </li>
              {% endif %}
              {% url 'shop:products_list' as products_url %}
              <li class="nav-item {% if request.path == products_url %}active{% endif %}">
                <a class="nav-link" href="{% url 'shop:products_list' %}">Products</a>
              </li>
              {% url 'shop:categories' as categories_url %}
              <li class="nav-item {% if request.path == categories_url %}active{% endif %}">
                <a class="nav-link" href="{% url 'shop:categories' %}">Categories</a>
              </li>

              {% url 'general:about' as about_url %}
              <li class="nav-item {% if request.path == about_url %}active{% endif %}">
                <a class="nav-link" href="{% url 'general:about' %}">About</a>
              </li>
              {% url 'general:contact' as contact_url %}
              <li class="nav-item {% if request.path == contact_url %}active{% endif %}">
                <a class="nav-link" href="{% url 'general:contact' %}">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    {% comment %} {% if messages %}
      <div class="container mt-3" style="z-index: 100000;">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        {% endfor %}
      </div>
    {% endif %} {% endcomment %}
    {% if messages %}
      {% for message in messages %}
        <script>
          Toast.fire({
            icon: '{{ message.level_tag }}',
            title: '{{ message }}'
          })
        </script>
      {% endfor %}
    {% endif %}
    <main id="main" class="flex-fill">
      {% block content %}

      {% endblock %}
    </main>

    <footer class="py-3 mt-auto">
      <div class="container">
        <p class="text-center">&copy; 2020 Sixteen Clothing Co., Ltd.</p>
      </div>
    </footer>

    {% block js %}

    {% endblock %}
  </body>
</html>

{% sweetify %}
