{% load i18n %}
{% load sweetify %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet" />

    <title>
      Clothing Store |{% block title %}

      {% endblock %}
    </title>
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    {% include 'common/includes/static.html' %}
    {% comment %} <script defer src="{% static '' %}"></script> {% endcomment %}
  </head>

  <body class="d-flex flex-column min-vh-100">
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>Sixteen <em>Clothing</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              {% url 'shop:home' as home_url %}
              <li class="nav-item {% if request.path == home_url %}active{% endif %}">
                <a class="nav-link" href="{% url 'shop:home' %}">Home</a>
              </li>
              {% url 'shop:products_list' as products_url %}
              <li class="nav-item {% if request.path == products_url %}active{% endif %}">
                <a class="nav-link" href="{% url 'shop:products_list' %}">Products</a>
              </li>
              {% url 'shop:categories' as categories_url %}
              <li class="nav-item {% if request.path == categories_url %}active{% endif %}">
                <a class="nav-link" href="{% url 'shop:categories' %}">Categories</a>
              </li>

              {% url 'general:about' as about_url %}
              <li class="nav-item {% if request.path == about_url %}active{% endif %}">
                <a class="nav-link" href="{% url 'general:about' %}">About Us</a>
              </li>
              {% url 'general:contact' as contact_url %}
              <li class="nav-item {% if request.path == contact_url %}active{% endif %}">
                <a class="nav-link" href="{% url 'general:contact' %}">Contact Us</a>
              </li>

              {% if request.user.is_authenticated %}
                {% url 'cart:cart_detail' as cart_url %}
                <li class="nav-item {% if request.path == cart_url %}active{% endif %}">
                  <a class="nav-link" href="{% url 'cart:cart_detail' %}">Cart</a>
                </li>
                {% url 'accounts:logout' as logout_url %}
                <li class="nav-item {% if request.path == logout_url %}active{% endif %}">
                  <form class="nav-link p-0" style="display: inline;" action="{% url 'accounts:logout' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-link nav-link" style="color: white;">{% trans 'Logout' %}</button>
                  </form>
                </li>
              {% else %}
                {% url 'accounts:register' as register_url %}
                <li class="nav-item {% if request.path == register_url %}active{% endif %}">
                  <a class="nav-link" href="{% url 'accounts:register' %}">Login/Sign Up</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="flex-fill">
      {% block content %}

      {% endblock %}
    </main>

    <footer class="py-3 mt-auto">
      <div class="container">
        <p class="text-center">&copy; 2020 Sixteen Clothing Co., Ltd.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Additional Scripts -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/owl.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/isotope.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.5/sweetalert2.all.min.js"></script>
  </body>
</html>

{% sweetify %}
